##### pytorch
--extra-index-url https://download.pytorch.org/whl/cu128 # For GPU users
# --extra-index-url https://download.pytorch.org/whl/cpu  # For CPU users
torch
torchvision
torchaudio

#####  tensorflow
# tensorflow[and-cuda]  # For GPU users
# tensorflow  # For CPU users

##### tensorflow keras
# tf-keras


##### jupyter
ipykernel
ipywidgets


##### NLP task specific
sacremoses


##### audio video manager
ffmpeg

##### sklearn 
scikit-learn


##### scipy
scipy


##### accelerate
accelerate


#####  datasets 
datasets


##### evaluate
evaluate


#####  transformers (Hugging Face specific)
transformers[sentencepiece]


##### livelossplot
livelossplot


##### tensorboard
tensorboard







